.startTextContainer{
    background: #f6f6f6;
    height: 80vh;
    margin-left: 8vw;
    
    display:flex;
    flex-direction: column;
    background-color: #f6f6f6;
    font-size: 230%;
    padding-top:5%;
    width: 30vw;


    
}

.textStyleTitle{
    font-family: "Great Wishes";
    color:#484848;
    text-shadow: 8px 7px 6px rgba(0, 0, 0, 0.17);
    padding-left: 10%;
    margin:0;
    
    
    
}
.textStyleTitle{
    transition: transform .5s ease-in-out;
}

.textStyleTitle:hover{
    transform: rotate3d(90, 20.0, 20.0, 12deg) scale(1.1);
    
}
.textStyleDesc{
    transition: all .8s ease-in-out;
}
.textStyleDesc:hover{
    transform: rotate3d(90, 15, 15, -20deg) scale(1.1) ;

}





.textStyleDesc{
    color:#059F2f;
    margin-top:-10px;
    margin-left: 10%;
    letter-spacing: 4px;
    font-family: "Consolas";
    text-shadow: 8px 7px 6px rgba(0, 0, 0, 0.17);
    

}
/* 

This is a first animate for Hi!; 

.animatedHi{
    animation-name: hi;
    animation-duration: 1.5s;
    position:relative;
}

@keyframes hi{
    0% {color:white;top:-200px;left:1300px}
    25%{color:rgba(36, 33, 33, 0.342);top:50px}
    50%{color:rgba(29, 27, 27, 0.555);top:-30px}
    100%{color:#484848;top:0px;left:0}
}
 */


/* Animation for Hi!  >>*/
/* Ieiiiiiiii */
.hAn{
    animation-duration: 1.5s;
    position: relative;
    animation-name: hAn;
    animation-delay: .2s;
    animation-fill-mode: both;
}

/* @keyframes hAn{
    0%{color:#4848483f;top:-200px;left:-100px}
    25%{color:#2f74329a;top:125px}
    50%{color:#466e4b85;top:-75px}
    100%{color:#4848488e;top:0px;left:0px}
} */
@keyframes hAn{
    0%{color:rgb(38, 92, 71);opacity: 0;}
    25%{color:rgb(216, 216, 216)}
    50%{color:rgb(203, 204, 204)}
    75%{color: #8a8a8a;}
    100%{color: #484848;opacity:1}
}






.exlAn{
    animation-duration: 1.5s;
    position: relative;
    animation-name: hAn;
    animation-fill-mode: both;
    opacity:0;
    animation-delay: .6s;
}


/* @keyframes exlAn{
    0%{color:#4848483f;top:-200px;left:100px}
    25%{color:#1d203a9a;top:125px}
    50%{color:#322c5a63;top:-75px}
    100%{color:#4848488e;top:0px;left:0px}
} */

.iAn{
    animation-duration: 1.5s;
    position: relative;
    animation-name: hAn;
    animation-fill-mode: both;
    opacity:0;
    animation-delay: .4s;
}
/* @keyframes iAn{
    0%{color:#4848483f;top:500px;left:100px}
    25%{color:#8050509a;top:250px;left:-50px}
    50%{color:#8b5f5f33;top:75px;left:50px}
    100%{color:#4848488e;top:0px;left:0px}
} */

/* Hi Animation Done <<< 
    ---------------------
    Name Animation begin 
    I used the same animations
    like to the i and !
*/

/* Description Animation */

/* @keyframes webAn{
    0%{color:rgb(38, 92, 71);opacity: 0;}
    25%{color:rgba(118, 199, 125, 0.671);font-size: 2.4rem;}
    50%{color:rgba(68, 187, 122, 0.671)}
    75%{color: #57be57;}
    100%{color:#059F2f;opacity:1}
} */

@keyframes webAn{
    0%{color:rgb(38, 92, 71);opacity: 0;}
    25%{color:rgb(0, 36, 3);font-size: 2.4rem;}
    50%{color:rgb(3, 117, 37)}
    75%{color: #278127;}
    100%{color:#059F2f;opacity:1}
}

.webAn{
    animation-name:webAn;
    animation-duration: 1.5s;
    position: relative;
    animation-fill-mode: both;
    opacity:0;
    animation-delay: 1.7s;
    color:#059F2f

}
.junAn{
    animation-name:webAn;
    animation-duration: 1.5s;
    position: relative;
    animation-fill-mode: both;
    opacity:0;
    animation-delay: 1.5s;

}
.devAn{
    animation-name:webAn;
    animation-duration: 1.5s;
    position: relative;
    animation-fill-mode: both;
    opacity:0;
    animation-delay: 1.9s;

}



/* 
KeyFrame 10%

@keyframes   {
    0%{left:;top}
    10%{left:;top}
    20%{left:;top}
    30%{left:;top}
    40%{left:;top}
    50%{left:;top}
    60%{left:;top}
    70%{left:;top}
    80%{left:;top}
    90%{left:;top}
    100%{left:;top}
}
*/


